<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
       
       
     <bean id="messageImpl" class="com.example.impl.MessageImpl">
     </bean>
     	
     	
     <bean id="meizuPhone" class="com.example.bean.MeizuPhone">
     	<property name="name" value="魅族"></property>
     </bean> 
     
     <bean id="applePhone" class="com.example.bean.ApplePhone">
     	<property name="name" value="苹果"></property>
     </bean> 
       
</beans> 