<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
      <bean id="personDao" class="com.example.test.PersonDaoImpl"> </bean> 
      <bean id="transaction" class="com.example.test.Transaction"> </bean>
      <bean id="log" class="com.example.test.Log"> </bean>
      
      <!-- 多个切面 -->
      <aop:config>
      	<!-- 切入点：目标类方法 -->
      	<aop:pointcut expression="execution (* com.example.test.PersonDaoImpl.*(..))" id="tran"/>
      	
      	<!-- 切面1-->
      	<aop:aspect ref="transaction">
			<aop:before method="beginTransaction" pointcut-ref="tran"/>      	
      		<aop:after method="commit" pointcut-ref="tran"/>
      	</aop:aspect>
      	<!-- 切面2-->
      	<aop:aspect ref="log">
      		<aop:before method="beginLog" pointcut-ref="tran"/>
      		<aop:after method="endLog" pointcut-ref="tran"/>
      	</aop:aspect>
      </aop:config>
</beans>